.card-body {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    text-align: center;
    margin: 5px;
}
.card-body:hover {
    box-shadow: 0px 0px 30px #bcb5b5;
    transform: scale(1);
    cursor: pointer;
}

.list-container {
    margin-top: auto;
    padding: 30px;
}

.text-center{
    margin: 0 auto;
    width: 450px;
    height: auto;
}

.image{
    max-height: 100%;
    max-width: 100%;
}

.card-heading {
    color: #423e3e;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
}

.card-desc {
    color: #969799;
    padding: 8px;
    text-align: justify;
}

.click-wrapper {
    padding: 10px;
}

.click-btn {
    padding: 2px 5px;
    color: #fff;
    background: #f76363;
    text-decoration: none;
    border: 2px solid #f76363;
    transition: transform 0.3s ease-in-out;
    border-radius: 3px;
}

.click-btn:hover {
    cursor: pointer;
    background: #fff;
    text-decoration: none;
    color: #f76363;
    transition: transform 0.3s ease-in-out;
    }
